html{
    scroll-behavior: smooth;
}
*{
    /* box-sizing: border-box;
    font-family: 'Handlee', cursive; */
    font-family: 'Montserrat', sans-serif;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.font-weight-bolder{
    font-weight: 700;
}
/* header design starts here  */
.navbar-brand img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 2px solid black;   
    margin: 1% 30%;   
}

header{
    background-image: url('banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height:350px ; */    
}
header .forfix{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    
    
}
main,footer{
    z-index: .6;
}
.banner-contents{
   margin-top: 160px;
   height:80vh;
}
.banner-contents h2{
    background-color: rgb(35, 36, 141);
    padding: 20px;
    border-radius: 15px;
    font-family: 'Handlee', cursive;
    font-size: 2.8rem;
}
.btn-user{
    transition: .3s;
}
.btn-user:hover{
    transform: scale(1.1);
}
.nav-item{
    padding: 0px 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .6);    
    margin: 10px;
    text-align: center;
}
.nav-link{   
    padding: 10px 20px;
    color: white;
    transition: .4s;
}
.nav-link:hover{
    transform: scale(1.1); 
}
.navbar{    
    background-color: rgba(0, 0, 0, .6);
}
.navbar-nav{
    margin: 1% 8%;
}
.menu-icon{
    color: white;
    font-size: 1.9rem;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header design ends here  */

/* feature section starts here  */


#features{
    background-color: #e8ded2;
    padding: 7% 10%;
}
.icon-style{
    background-color: #bb0aac;
}
.feature-contents{
    border: 1px solid #ff02c0;
    border-radius: 5px;
    transition: .4s;
    margin: 20px 0;
    padding: 10px;
}
.feature-contents:hover{
    transform: scale(1.1);
    box-shadow: 3px 4px 5px black;
}

/* feature section ends here  */

/* about section starts here */

.common-hr{
    border: 5px dotted white !important;
    border-bottom: none !important;
    width: 70px;
    margin: 0 auto;
    border-color: white;
    margin-bottom: 30px;
}

#about-me{
    background-color: #e8ded2;
    padding: 5% 4%;
}
.forhover{
    transition: .3s;
}
.forhover:hover{
    transform: scale(1.1);
}

/* about section ends here */

/* tutorial starts here  */

#tutorial{
    background-color: #a3d2ca;
    padding: 5% 3%;
}
.card{
    border: 1px solid #ff02c0;
    transition: .4s;
    width: 250px;
    height: 230px;
    margin: 0 auto;
    
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 2px 6px 5px black;
}



/* tutorial ends here  */


/* feddback section starts */

#feedback{
    background: #a3d2ca;
    padding: 0 2% 3% 2%;
}
.carousel-item{
    padding: 7% 15%;
    text-align: center;
}
.carousel-img{
  width: 120px;
  height: 120px;
  /* margin-bottom: 15px; */
  /* border: 1px solid white; */
  border-radius: 50%;
  transition: .7s; 
  z-index: .4;   
  margin-bottom: 9px;     
}


.carousel-img:hover{
  transform: scale(1.1);
  
}



/* feedback section ends  */

/* contact section starts  */

#contact{
   
    background-color: #a3d2ca;
    padding: 2% 10%;
}

/* contact section ends  */

/* footer section starts here  */
footer{
    background-color: teal;
    color: white;
    text-align: center;
    padding: 1% 2%;
}
footer p{
    text-align: center;
    margin-top: 5px;
}
footer a{
    color: white;
    font-size: 1.2rem;
    margin: 0 6px;
}
footer a:hover{
    color: black;
}



/* footer section ends here  */